{
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "env": {
        "es6": true
    },
    "plugins": [
        "meteor"
    ],
    "extends": [
        "plugin:meteor/recommended"
    ]
}